@{
    ViewData["Title"] = "Home Page";
}
<h2>Welcome in house of your dreams!</h2>
<h3>@Html.ActionLink("Show all houses", "GetAllHouses", "Home")</h3>
<hr />
<h3>@Html.ActionLink("Show all types", "GetListOfTypes", "Home")</h3>
<hr />
<h3>@Html.ActionLink("Contact with us if you are decided", "ContactForm", "Home")</h3>
<hr />
<h3>@Html.ActionLink("If you are developer and want to post there your house click there", "DeveloperForm", "Home")</h3>
<hr />
<h3>@Html.ActionLink("Write a opinion", "WriteOpinion", "Home")</h3>
<hr />
<h3>@Html.ActionLink("Show last opinion", "ShowOpinion", "Home")</h3>
<hr />