@model HouseModel
@{
    ViewData["Title"] = "GetHouseByType";
}
<div>
    <h2>Type: @Model.Type</h2>
    <h4>Area: @Model.Area m2</h4>
    <h4>Number of rooms: @Model.NumberOfRooms</h4>
    <h4>Cena: @Model.Price zł</h4>
    <h4>City: @Model.City</h4>
    <img src="@Url.Content(Model.Photo)" alt="@Model.Type" />

</div>

